{% extends "base.html" %}
{% block content %}
    <h2>Customers</h2>
    <table>
        <thead>
            <tr>
                <th>Customer ID</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
                <tr>
                    <td><a href="/get_customer_orders/{{ customer.customer_id }}">{{ customer.customer_id }}</a></td>
                    <td>{{ customer.customer_first_name }}</td>
                    <td>{{ customer.customer_last_name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
    </div>
{% endblock %}