{% extends "base.html" %}

{% block content %}
<h2>Order Details</h2>
<p><strong>Order ID:</strong> {{ order.order_id }}</p>
<p><strong>Order Date:</strong> {{ order.order_date }}</p>
<p><strong>Customer ID:</strong> {{ order.customer.customer_id }}</p>
<p><strong>Customer Name:</strong> {{ order.customer.customer_first_name }} {{ order.customer.customer_last_name }}</p>
<p><strong>Ship Mode:</Strong> {{ order.ship_mode }}</p>

<table>
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Quantity</th>
            <th>Discount</th>
            <th>Total After Discount</th>
        </tr>
    </thead>
    <tbody>
        {% for detail in order.order_details %}
        <tr>
            <td>{{ detail.product_name }}</td>
            <td>{{ detail.price_at_sale }}</td>
            <td>{{ detail.quantity }}</td>
            <td>{{ detail.discount }}</td>
            <td>{{ detail.total_after_discount }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h3>Grand Total: {{ order.grand_total }}</h3>
{% endblock %}